
body{
    padding-top: 7%;
    background: url("../img/4.jpg");
  }
.container {
  width: 500px;
  height: auto;
  margin: 0 auto;
  
}

.item {
  display: block;
  text-indent: 4%;
  width: 500px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
}
.block-item {
  display: block;
  width: inherit;
  height: 40px;
  line-height: 40px;
  background: brown;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
}


.item-data {
  display: none; 
  width: inherit;
  height: auto;
  border: 1px solid #ccc;
  background: burlywood;
}

.active {
  background: burlywood;
  color: #000;
}
.item-data div{
  margin: 30px;
}

.bg_btn {
  padding-top: 6%;
}