{% load static %}



<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hugo's Profile</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  

</head>
<body id="body">
 
<div class='container'>

  <section id="element1">
    <div class="d-flex block-item">
      <div class="mr-auto p-0 item" id="item1">Aktivitas Saya</div>
      <i class="fa fa-chevron-up p-2 tombol-atas" id="a1"></i>
      <i class="fa fa-chevron-down p-2 tombol-bawah" id="b1"></i>
    </div>
    <div class='item-data' id="itemdata1" >
      <div>
        <ul>
          <li> Kuliah PJJ </li>
          <li>Belajar</li>
          <li>Nugas</li>
          <li>rjmp Aktivitas_Saya</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="element2">
    <div class="d-flex block-item">
      <div class="mr-auto p-0 item" id="item2">Pengalaman Organisasi/Kepanitiaan</div>
      <i class="fa fa-chevron-up p-2 tombol-atas" id="a2"></i>
      <i class="fa fa-chevron-down p-2 tombol-bawah" id="b2"></i>
    </div>
    <div class='item-data' id="itemdata2" >
      <div>
        <ul>
          <li>Staf Perlengkapan Olimpiade UI 2018</li>
          <li>Staf Pengawas TOSSAKKA 15th</li>
          <li>Staf Lomba OIM MIPA 2018</li>
          <li>ex Staf Keuangan BPM MIPA 2018</li>
        </ul>
      </div>
    </div>
  </section>
  <section id="element3">
    <div class="d-flex block-item">
      <div class="mr-auto p-0 item" id="item3">Prestasi</div>
      <i class="fa fa-chevron-up p-2 tombol-atas" id="a3"></i>
      <i class="fa fa-chevron-down p-2 tombol-bawah" id="b3"></i>
    </div>
    <div class='item-data' id="itemdata3" >
      <div>Sepertinya saya tidak memiliki prestasi di bidang lomba.</div>
    </div>
  </section>

<!-- <p id="z">dsadas</p> -->
  <section id="element4">
    <div class="d-flex block-item">
      <div class="mr-auto p-0 item" id="item4">Blog Saya</div>
      <i class="fa fa-chevron-up p-2 tombol-atas" id="a4"></i>
      <i class="fa fa-chevron-down p-2 tombol-bawah" id="b4"></i>
    </div>
    <div class='item-data' id="itemdata4" >
      <div>https://hblok23.blogspot.com/</div>
    </div>
  </section>

  </div>
  <div class="bg_btn d-flex justify-content-center" >
    <button id="bg_btn">Change Background</button>
    
  </div>

</body>
</html>